[submodule "qtile-yt"]
	path = qtile-yt
	url = https://github.com/amonetlol/qtile-yt
[submodule "qtile-nord"]
	path = qtile-nord
	url = https://github.com/amonetlol/qtile-nord
[submodule "qtile-ubuntu"]
	path = qtile-ubuntu
	url = https://github.com/amonetlol/qtile-ubuntu
